{% extends 'base/base.html' %}
{% load static %}
{% load widget_tweaks %}	
{% block content %}

	<!-- End Header Area -->

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>{{method_ad}}</h1>
                    <nav class="d-flex align-items-center">
                        <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="single-product.html">create ad</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Checkout Area =================-->
    <section class="checkout_area section_gap">
        <div class="container">
            
            <div class="billing_details">
                <div class="row">
                    <div class="col-lg-8">
                        <h3>{{last_method}}</h3>
                        <form class="row contact_form" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="col-md-12 form-group p_star">
                                
                                <img style="width:100%;height:100%;max-height:487px;" id="img-ad" src="{{ blog.image.url }}">   
                            </div>
                            <div class="col-md-12 form-group p_star">
                                {% render_field form.image class="form-control" %}   
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <label for="tilte"> Tilte</label>
                                {% render_field form.titre class="form-control" placeholder="Title"  %}
                                
                            </div>
                            
                            <div class="col-md-6 form-group p_star">
                                <label for="tilte"> Total Area(m)</label>
                                {% render_field form.total_area class="form-control" placeholder="Total Area"  %}
                            </div>
                            
                            <div class="col-md-6 form-group">
                                <label for="tilte">Living Area(m)</label>
                                {% render_field form.living_area class="form-control" placeholder="Living Area"  %}
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <label for="tilte">Address</label>
                                {% render_field form.address class="form-control" placeholder="....." %}
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <label for="tilte">Year Built</label>
                                {% render_field form.year_built class="form-control" placeholder="....." %}
                                <!-- <input type="text" class="form-control" disabled> -->
                                
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <label for="tilte">Property Type</label>
                                {% render_field form.property_type class="form-control" placeholder="....." %}
                            </div>
                            <div class="col-md-2 form-group p_star">
                                <label for="tilte">Total Piece</label>
                                {% render_field form.nbres_pieces class="form-control" %}
                            </div>
                            <div class="col-md-2 form-group p_star">
                                <label for="tilte">For rent</label>
                                {% render_field form.for_rent class="form-control" %}
                            </div>
                            <div class="col-md-2 form-group p_star">
                                <label for="tilte">On sale</label>
                                {% render_field form.on_sale class="form-control" %}
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <label for="tilte">Price sale($)</label>
                                {% render_field form.price_on_sale class="form-control" placeholder="....." %}
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <label for="tilte">Price rent($)</label>
                                {% render_field form.price_for_rent class="form-control" placeholder="....." %}
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" disabled>
                                <!-- {% render_field form.address class="form-control" placeholder="Email"  %} -->
                            </div>
                            <div class="col-md-12 form-group">
                                <div class="creat_account">
                                    <h3>Description</h3>
                                </div>
                                {% render_field form.more_info class="form-control" placeholder="....."  %}
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <button type="submit" class="btn btn-primary">{{ button_text }}</button>
                                  
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog_right_sidebar">
                            <aside class="single_sidebar_widget search_widget">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search Posts" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Posts'">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button"><i class="lnr lnr-magnifier"></i></button>
                                    </span>
                                </div><!-- /input-group -->
                                <div class="br"></div>
                            </aside>
                            <aside class="single_sidebar_widget author_widget">
                                {% if user.photo  %}
                                    <div style="border-radius:40%"> <img style=" width: 120px;height: 120px;border: 1px solid #000;border-radius:50%" id="img_profil" src="{{user.photo.url}}"/> </div>
                                {% else %}
                                    <div style="border-radius:40%"> <img style=" width: 120px;height: 120px;border: 1px solid #000;border-radius:50%" id="img_profil" src="{% static 'img/user.png' %}"/> </div>
                                {% endif %}
                                <h4>{{ user.username }}</h4>
                                <p>{{ user.job }}</p>
                                <div class="social_icon">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-github"></i></a>
                                    <a href="#"><i class="fa fa-behance"></i></a>
                                </div>
                                <p>{{ user.description }}</p>
                                <div class="br"></div>
                            </aside>
                            <aside class="single_sidebar_widget popular_post_widget">
                                <h3 class="widget_title">My Ads</h3>
                                <div class="media post_item">
                                    <img src="{% static 'img/blog/popular-post/post1.jpg' %}" alt="post">
                                    <div class="media-body">
                                        <a href="blog-details.html">
                                            <h3>Space The Final Frontier</h3>
                                        </a>
                                        <p>02 Hours ago</p>
                                    </div>
                                </div>
                                <div class="media post_item">
                                    <img src="{% static 'img/blog/popular-post/post2.jpg' %}" alt="post">
                                    <div class="media-body">
                                        <a href="blog-details.html">
                                            <h3>The Amazing Hubble</h3>
                                        </a>
                                        <p>02 Hours ago</p>
                                    </div>
                                </div>
                                <div class="br"></div>
                            </aside>
                            <aside class="single_sidebar_widget ads_widget">
                                <a href="#"><img class="img-fluid" src="{% static 'img/blog/add.jpg' %}" alt=""></a>
                                <div class="br"></div>
                            </aside>
                            
                            
                            
                        </div>
                            
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Checkout Area =================-->
    <script>
        var Element = document.getElementById('id_image');
        var img = document.getElementById("img-ad");
        Element.addEventListener('change', function() {
        var url = URL.createObjectURL(Element.files[0]);
        img.src = url;
        console.log(url);
         //   var d=document.querySelector(".p");
         //   d.textContent+=url;
     });
     function view() {
        var Element = document.getElementById('id_image');
        var img = document.getElementById("img-ad");
        
        var url = URL.createObjectURL(Element.files[0]);
        img.src = url;
        console.log(url);}
        view()
    </script> 
{% endblock %}