{% extends 'base/base.html' %}
{% load static %}
	<!-- End Header Area -->

	<!-- start banner Area -->
{% block content %}
{% load hitcount_tags %}	
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>My blog manager</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html"> My Blog Manager</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!--================Blog Categorie Area =================-->
<section class="blog_categorie_area">
    <div class="container">
        <div class="row">
        
            <div class="col-lg-12">
                <div class="categories_post">
                    <div class="categories_details">
                        <div class="categories_text">
                            <a href="blog-details.html">
                                <h5 style="color:black ;">My Blog Manager</h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>        
        </div>
    </div>
</section>
<!--================Blog Categorie Area =================-->

<!--================Blog Area =================-->
<section class="blog_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog_left_sidebar">
                    {% for blog in myblog %}
                        <article class="row blog_item">
                            <div class="col-md-3">
                                <div class="blog_info text-right">
                                    <div class="post_tag">
                                        <a href="#">Food,</a>
                                        <a class="active" href="#">Technology,</a>
                                        <a href="#">Politics,</a>
                                        <a href="#">Lifestyle</a>
                                    </div>
                                    <ul class="blog_meta list">
                                        <li><a href="#">{{ blog.author.username}}<i class="lnr lnr-user"></i></a></li>
                                        <li><a href="#">{{ blog.date_created}}<i class="lnr lnr-calendar-full"></i></a></li>
                                        <li><a href="#">{% get_hit_count for blog %} Views<i class="lnr lnr-eye"></i></a></li>
                                        <li><a href="#">{{ comments }}comments<i class="lnr lnr-bubble"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="blog_post">
                                    {% if blog.image %}
                                        <img style="width:540px;height:337.5px" src="{{ blog.image.url }}" alt="">
                                    {% else %}
                                        <img style="width:540px;height:337.5px" src="{% static 'img/user.png' %}" alt=""> 
                                    {% endif %}       
                                    <div class="blog_details">
                                        <a href="{% url 'blog_detail' blog.pk %}">
                                            <h2>{{ blog.titre }}</h2>
                                        </a>
                                        <p>{{ blog.more_info|truncatewords_html:25|safe }}</p>
                                        <a href="{% url 'blog_detail' blog.pk %}" class="white_bg_btn">View More</a>
                                        <a href="{% url 'ad-edit' blog.pk %}" class="white_bg_btn">Modify Ad</a>
                                        <a  style="background-color:rgb(212, 105, 105);color:white;" href="{% url 'delete_ad' blog.pk %}" class="white_bg_btn">Remove Ad</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    {% endfor %}
                    <nav class="blog-pagination justify-content-center d-flex">
                        <ul class="pagination">
                            <li class="page-item">
                                <a href="#" class="page-link" aria-label="Previous">
                                    <span aria-hidden="true">
                                        <span class="lnr lnr-chevron-left"></span>
                                    </span>
                                </a>
                            </li>
                            <li class="page-item"><a href="#" class="page-link">01</a></li>
                            <li class="page-item active"><a href="#" class="page-link">02</a></li>
                            <li class="page-item"><a href="#" class="page-link">03</a></li>
                            <li class="page-item"><a href="#" class="page-link">04</a></li>
                            <li class="page-item"><a href="#" class="page-link">09</a></li>
                            <li class="page-item">
                                <a href="#" class="page-link" aria-label="Next">
                                    <span aria-hidden="true">
                                        <span class="lnr lnr-chevron-right"></span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search Posts" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Posts'">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><i class="lnr lnr-magnifier"></i></button>
                            </span>
                        </div><!-- /input-group -->
                        <div class="br"></div>
                    </aside>
                    <aside class="single-sidebar-widget tag_cloud_widget" style="margin-bottom:70px;">
                        <h4 class="widget_title">Tag Clouds</h4>
                        <ul class="list">
                            <li><a href="#">All</a></li>
                            <li><a href="#">Rent</a></li>
                            <li><a href="#">Sale</a></li> 
                        </ul>
                    </aside>
                    
                    
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}